.Hero-Section {
    height: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.content {
    width: 100%;
}

.title {
    font-weight: 300;
    color: var(--fColor);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.subject-count {
    font-size: 1.4rem;
    font-weight: 600;
}

.title-content {
    color: #000;
    font-weight: 600;
    letter-spacing: .8px;
    margin-bottom: 1.6rem;
}

.bottom-row {
    width: 100%;
    height: 1px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #6c757d50;
}

.quiz-card {
    margin-top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1.6rem;
}

.card {
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    padding: 1rem;
    justify-content: center;
    border: 1px solid var(--fColor);
    border-radius: .6rem;
    transition: all .4s;
}

.card:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 4px;
}

.card-title  {
    font-size: 1.4rem;
}

.btn {
    color: var(--fColor);
    background-color: #FFF;
    font-weight: 600;
    font-size: 1.2rem;
    border: 1px solid var(--fColor);
    border-radius: .5rem;
    padding: .75rem 0;
    text-align: center;
    cursor: pointer;
    transition: all .4s;
}

.btn:hover {
    transform: translateY(-6px);
    color: #FFF;
    background-color: var(--fColor);
}

/* For Basic need Initial */

/* 2xl = 1536px = 96rem huge desktop screen */
/* @media (max-width: 96em) {} */

/* xl = 1280px = 80rem normal Desktop screen */
@media (max-width: 80em) {
    .title {
        font-size: 2.2rem;
    }
}

/* lg = 1024px = 64rem Tabs and Ipad Portrait mode */
@media (max-width: 64em) {
    .quiz-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        font-size: 2rem;
    }

    .btn:hover {
        transform: translateY(0);
        color: var(--fColor);
        background-color: #FFF;
    }
}

/* md = 768px = 48rem Low resolution Tab and Ipad */
/* @media (max-width: 48em) {} */

/* sm = 640px = 40rem a little lower resolution */
@media (max-width: 40em) {
    .quiz-card {
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 1.8rem;
    }
}

/* xs = 475px = 29.6875rem Mobile Screen */
@media (max-width: 29.6875rem) {
    .title {
        font-size: 1.4rem;
    }
}